body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #26293A !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* start Navbar */
.navbar {
  overflow: hidden;
}
.navbar .navbar-nav a {
  transform: rotate(90deg);
  color: #E1E1E3 !important;
  text-decoration: none;
  z-index: 1;
}
/* end Navbar */

/* start Homepage */
.homepage {
  color: #E1E1E3 !important;
}

.homepage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* end Homepage */

/* start form */
.form {
  position: relative;
  top: -140px;
}

.form .wrapper h1 {
  color: #E1E1E3;
}

.form input {
  padding-top: 3px;
  padding-bottom: 7px;
  padding-left: 8px;
  border-radius: 4px;
  background-color: #E8F0FE;
}

.form button {
  background-color: #339AF0;
  border-radius: 0;
  outline: none;
}

.form .result > p {
  color: #E1E1E3;
  font-size: 32px;
}

.form .result .circle {
  background-color: #EC6E4C;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* end form */
